.map_liste {
    a {
        color: inherit;
        text-decoration: none;
        transition: color 0.3s;
    }

    .carteFrance_svg__land:hover {
        color: #2A7FD2;
    }
}

.test {
    float: right;
    width: 15%;
}